body {
    background-color: #696969;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: rgb(165, 222, 165);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h4 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(165, 222, 165);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
    font-size: 12px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
}
